*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: rgb(210, 229, 244);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 300px;
  height: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgb(182, 210, 231);
  text-align: center;
  font-family: Arial, sans-serif;
}

.number-display{
  font-size: 2.45rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.button{
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: rgb(207, 204, 204);
}

#reset-btn{
  width: 70%;
  margin: 0 auto;
}